Repository devhatt/hatbot-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest

.lintstagedrc.json:

{
  "*.ts": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.spec.ts":[
    "jest"
  ]
}

Issue 26 (#27)
  .eslintrc.json
  .husky/pre-commit.sh
  .lintstagedrc.json
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/commands/approve/approve.ts
  src/commands/change/change.ts
  src/commands/girias/girias.spec.ts
  src/commands/girias/girias.ts
  src/commands/girias/girias.types.ts
  src/commands/girias/utils/slangOptions.ts
  src/commands/index.ts
  src/commands/pulls/pulls.ts
  src/commands/pulls/utils/pulls.info.ts
  src/commands/pulls/utils/pulls.types.ts
  src/lib/index.ts
  src/types/index.ts
Due: prettier --write, eslint --fix, jest

lint: disable no useless constructor
  .eslintrc.json
Due: none

ref: cron-jobs
  src/bot.ts
  src/cronjobs/reminder-daily/reminder-daily.ts
  src/cronjobs/reminder-daily/reminder.ts
  src/lib/cron.ts
  src/lib/index.ts
  src/utils/bot/get-events-guild.ts
  src/utils/bot/index.ts
  src/utils/bot/send-message-chat.ts
  src/utils/get-recent-daily.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix

fix: remove throw error
  src/cronjobs/reminder-daily/reminder.ts
  src/lib/index.ts
  src/lib/notion.ts
Due: prettier --write, eslint --fix

fix: eof
  .eslintrc.json
Due: none

Issue 28 (#29)
  .eslintrc.json
  src/bot.ts
  src/cronjobs/reminder-daily/reminder-daily.ts
  src/cronjobs/reminder-daily/reminder.ts
  src/lib/cron.ts
  src/lib/index.ts
  src/lib/notion.ts
  src/utils/bot/get-events-guild.ts
  src/utils/bot/index.ts
  src/utils/bot/send-message-chat.ts
  src/utils/get-recent-daily.ts
  src/utils/index.ts
Due: prettier --write, eslint --fix

feat: add templates for issues and pull requests
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Due: none

refactor: open all details tag and add hashtag to closes the issue
  .github/pull_request_template.md
Due: none

wip
  README.md
  src/commands/change/change.ts
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

feat: add codeowners file
  .github/CODEOWNERS
Due: none

refactor: update codeowners file
  .github/CODEOWNERS
Due: none

refactor: add BOT codeowners
  .github/CODEOWNERS
Due: none

add templates for issues and pull requests (#32)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/pull_request_template.md
Due: none

add github bot onto pulls
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

fix pull request owner user
  src/commands/approve/approve.ts
  src/commands/change/change.ts
Due: prettier --write, eslint --fix

fix codeowners
  .github/CODEOWNERS
Due: none

export the sendmessage to pull owner to another function
  src/commands/approve/approve.ts
  src/commands/change/change.ts
  src/utils/bot/send-message-pull-owner.ts
Due: prettier --write, eslint --fix

Fix tag pull request owner when /change or /approve command is called (#33)
  .github/CODEOWNERS
  README.md
  src/commands/approve/approve.ts
  src/commands/change/change.ts
  src/commands/pulls/pulls.ts
  src/utils/bot/send-message-pull-owner.ts
Due: prettier --write, eslint --fix

feat: add open and close on title when the pr is open or closed
  src/commands/approve/approve.ts
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

refactor: add only change the thread name when pr is closed
  src/commands/approve/approve.ts
  src/commands/pulls/pulls.ts
  src/commands/pulls/utils/pinMessage.ts
  src/utils/bot/prContent.ts
  src/utils/pulls.info.ts
  src/utils/pulls.types.ts
Due: prettier --write, eslint --fix

refactor: add a more descritive approve message
  src/commands/approve/approve.ts
Due: prettier --write, eslint --fix

test: add test to prContent function
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

test add tests to pinMessage function
  src/commands/approve/approve.ts
  src/commands/pulls/utils/pinMessage.spec.ts
Due: prettier --write, eslint --fix, jest

refactor: add edge case when channel is not a public thread
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

refactor: /approve changes de thread name and mark the people correctly
  src/commands/approve/approve.ts
  src/commands/change/change.ts
  src/commands/pulls/pulls.ts
  src/utils/bot/get-pull-owner.ts
  src/utils/bot/prContent.ts
  src/utils/bot/send-message-pull-owner.ts
  src/utils/pulls.info.ts
Due: prettier --write, eslint --fix

refactor: fix error test
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

test: add tet to get-pull-owner function
  src/utils/bot/get-pull-owner.spec.ts
  src/utils/bot/get-pull-owner.ts
Due: prettier --write, eslint --fix, jest

refactor: separates the function to get the thread name and test it
  src/commands/approve/approve.ts
  src/commands/approve/utils/getRawThreadName.spec.ts
  src/commands/approve/utils/getRawThreadName.ts
  src/commands/pulls/utils/pinMessage.spec.ts
  src/utils/bot/get-pull-owner.spec.ts
Due: prettier --write, eslint --fix, jest

refactor: make the tests more semantics
  src/commands/approve/utils/getRawThreadName.spec.ts
  src/commands/changes/changes.ts
  src/commands/index.ts
  src/commands/pulls/utils/pinMessage.spec.ts
  src/utils/bot/get-pull-owner.spec.ts
Due: prettier --write, eslint --fix, jest

refactor: add makeSut to tests
  src/commands/approve/utils/getRawThreadName.spec.ts
  src/commands/pulls/utils/pinMessage.spec.ts
  src/utils/bot/get-pull-owner.spec.ts
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

add open and close on title when the pr is open or closed (#35)
  src/commands/approve/approve.ts
  src/commands/approve/utils/getRawThreadName.spec.ts
  src/commands/approve/utils/getRawThreadName.ts
  src/commands/change/change.ts
  src/commands/changes/changes.ts
  src/commands/index.ts
  src/commands/pulls/pulls.ts
  src/commands/pulls/utils/pinMessage.spec.ts
  src/commands/pulls/utils/pinMessage.ts
  src/utils/bot/get-pull-owner.spec.ts
  src/utils/bot/get-pull-owner.ts
  src/utils/bot/prContent.spec.ts
  src/utils/bot/prContent.ts
  src/utils/bot/send-message-pull-owner.ts
  src/utils/pulls.info.ts
  src/utils/pulls.types.ts
Due: prettier --write, eslint --fix, jest

fix: change crontime
  src/bot.ts
  src/cronjobs/reminder-daily/reminder.ts
  src/utils/bot/index.ts
  src/utils/bot/send-message-newschat.ts
Due: prettier --write, eslint --fix

test: ensure message sended
  src/utils/bot/message/send-message-chat.spec.ts
  src/utils/bot/message/send-message-newschat.spec.ts
Due: prettier --write, eslint --fix, jest

fix: message reminder
  src/bot.ts
  src/cronjobs/reminder-daily/reminder.ts
  src/utils/bot/index.ts
  src/utils/bot/message/send-message-chat.ts
  src/utils/bot/message/send-message-newschat.ts
Due: prettier --write, eslint --fix

fix: change crontime (#37)
  src/bot.ts
  src/cronjobs/reminder-daily/reminder.ts
  src/utils/bot/index.ts
  src/utils/bot/message/send-message-chat.spec.ts
  src/utils/bot/message/send-message-chat.ts
  src/utils/bot/message/send-message-newschat.spec.ts
  src/utils/bot/message/send-message-newschat.ts
Due: prettier --write, eslint --fix, jest

test: fix mocks for prContent tests
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

feat: add rereview command
  src/commands/index.ts
  src/commands/pulls/pulls.ts
  src/commands/rereview/rereview.ts
  src/utils/bot/prContent.ts
Due: prettier --write, eslint --fix

fix: bug when someone select twice a revisor and the other commands stop working
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix
