Repository devhatt/hatbot-discord: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, jest

refactor: change the select max and min in pull command
  src/commands/changes/changes.ts
  src/commands/pulls/pulls.ts
  src/commands/rereview/rereview.ts
  src/utils/bot/prContent.spec.ts
Due: prettier --write, eslint --fix, jest

refactor: remove console
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

feat: create listpulls command
  src/commands/index.ts
  src/commands/list-pulls/list-pulls.ts
  src/commands/list-pulls/utils/constants.ts
  src/commands/list-pulls/utils/formatPulls.ts
  src/utils/constants.ts
  src/utils/pulls.info.ts
  src/utils/pulls.types.ts
Due: prettier --write, eslint --fix

fix bug when someone select a revisor twice the other commands stop working (#43)
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

create `/rereview` command (#41)
  src/commands/changes/changes.ts
  src/commands/index.ts
  src/commands/pulls/pulls.ts
  src/commands/rereview/rereview.ts
  src/utils/bot/prContent.spec.ts
  src/utils/bot/prContent.ts
Due: prettier --write, eslint --fix, jest

feat: create email command
  .env.example
  src/commands/emails/emails.ts
  src/commands/emails/utils/processSlang.ts
  src/commands/emails/utils/slangOptions.ts
  src/commands/index.ts
  src/types/email.ts
Due: prettier --write, eslint --fix

resolve changes
  src/commands/list-pulls/list-pulls.ts
  src/commands/list-pulls/utils/constants.ts
Due: prettier --write, eslint --fix

feat: creating the mentor command, still need some details to finish
  src/commands/index.ts
  src/commands/mentor/mentores.ts
Due: prettier --write, eslint --fix

feat: finishing the command mentor
  src/commands/mentor/mentores.ts
Due: prettier --write, eslint --fix

refactor: removing console.log
  src/commands/mentor/mentores.ts
Due: prettier --write, eslint --fix

refactor: changing the name of the command to mentors
  src/commands/index.ts
  src/commands/mentor/mentors.ts
Due: prettier --write, eslint --fix

refactor: verify if the channel is a guild text
  src/commands/mentor/mentors.ts
Due: prettier --write, eslint --fix

refactor: refactoring the mentors array to be more clean
  src/commands/mentor/mentors.ts
Due: prettier --write, eslint --fix

Issue 2 - Novo comando /mentors (#48)
  src/commands/index.ts
  src/commands/mentor/mentors.ts
Due: prettier --write, eslint --fix

Create workflows
  .github/workflows/autoAssigned.yml
  .github/workflows/build.yml
  .github/workflows/ec2Deploy.yml
Due: none

update workflows
  .github/workflows/build.yml
Due: none

update build.yml
  .github/workflows/build.yml
Due: none

update workflows
  .github/workflows/actions/install-deps.yml
  .github/workflows/code-style.yml
  .github/workflows/test.yml
  package.json
Due: none

update workflows
  .github/workflows/test.yml
Due: none

update workflows
  .github/workflows/actions/install-deps/action.yml
Due: none

update workflows
  .github/actions/install-deps/action.yml
Due: none

fix: ajust codestyle action
  .github/workflows/code-style.yml
Due: none

fix: ajust files to check
  .github/workflows/code-style.yml
Due: none

Criação das CI de build, teste e code style (#53)
  .github/actions/install-deps/action.yml
  .github/workflows/autoAssigned.yml
  .github/workflows/build.yml
  .github/workflows/code-style.yml
  .github/workflows/ec2Deploy.yml
  .github/workflows/test.yml
  package.json
Due: none

feat: add octopost backend to projects in pulls command
  .gitignore
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

feat: add octopost backend to projects in pulls command (#57)
  .gitignore
  src/commands/pulls/pulls.ts
Due: prettier --write, eslint --fix

feat: add aulas command
  pnpm-lock.yaml
  src/bot.ts
  src/commands/index.ts
Due: prettier --write, eslint --fix

feat: create aulas command
  src/commands/aulas/aulas.ts
  src/commands/aulas/utils/getMessageOptions.ts
  src/config/env/index.ts
Due: prettier --write, eslint --fix

refactor: remove console.log
  src/commands/aulas/utils/getMessageOptions.ts
Due: prettier --write, eslint --fix

chore: lock pnpm and node version and ajust ci
  .github/actions/install-deps/action.yml
  .npmrc
  package.json
  pnpm-lock.yaml
Due: none

refactor: remove empty space in regex
  src/commands/aulas/utils/getMessageOptions.ts
Due: prettier --write, eslint --fix

comando para facilitar as buscas dos nossos videos especiais (#59)
  .github/actions/install-deps/action.yml
  .npmrc
  package.json
  pnpm-lock.yaml
  src/bot.ts
  src/commands/aulas/aulas.ts
  src/commands/aulas/utils/getMessageOptions.ts
  src/commands/index.ts
  src/config/env/index.ts
Due: prettier --write, eslint --fix

feat: add workflow for push docker image
  .dockerignore
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
  .npmrc
  Dockerfile
  package.json
Due: none

feat: trigger with pr to test
  .github/workflows/deploy.yml
Due: none

feat: ajust docker workflow
  .github/workflows/deploy.yml
Due: none

feat: docker deploy workflow
  .github/workflows/deploy.yml
Due: none

refactor: add variables
  .github/workflows/deploy.yml
  Dockerfile
Due: none

Path conditions:
  prettier --write: any of: *.ts
  eslint --fix: any of: *.ts
  jest: any of: *.spec.ts
